/* PC */

@media (max-width: 64em) {}


/* Tablet & mobile */

@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }
    .contact .form-control {
        padding: 14px;
    }
    #footer .footer-list {
        font-size: 48px;
        letter-spacing: 10px;
    }
}


/* Tablet */

@media (min-width: 46.25em)and (max-width: 63.9375em) {}


/* Mobile */

@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100%;
    }
    .s-mt-8 {
        margin-top: 8px;
    }
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #header .menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav>li {
        display: block;
    }
    #nav>li:first-child {
        display: inline-block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav .subnav {
        position: initial;
    }
    #nav li:hover .subnav {
        background-color: #000;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    #content .member-img {
        width: 60%;
        margin-bottom: 16px;
    }
    #content .contact-form {
        margin-top: 16px;
    }
    .btn {
        display: inline-block;
        width: 100%;
    }
}